@tailwind base;
@tailwind components;
@tailwind utilities;


.pulse-marker {
  width: 18px;
  height: 18px;
  background: #ef4444; /* red-500 */
  border-radius: 50%;
  position: relative;
}

.pulse-marker::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(239, 68, 68, 0.6);
  border-radius: 50%;
  animation: pulse 1.6s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}

